<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Home works!</h1>
        <p>
          This is a template for a simple marketing or informational website.
        </p>
        <app-action-button>
          <button class="btn btn-outline-danger" (click)="handleHome()">
            Home
          </button>
        </app-action-button>
      </div>
    </div>
  </div>
</div>




<button id="brt">click</button>


<!-- 
<div class="container">
	<div class="parent" fxLayout="row" fxLayout.sm="column">
		<div class="item item-1" style="background-color: yellow;">Item 1</div>
		<div class="item item-2" style="background-color: rgb(255, 166, 0);">Item 2</div>
		<div class="item item-3" style="background-color: rgb(132, 0, 255);">Item 3</div>
	  </div>	  
</div>


<br />
<div class="container">
  <div class="parent" fxLayout="row" fxLayout.sm="column">
    <div fxFlex="30%" class="left" style="background-color: yellow;">Left</div>
	<div fxFlex="30%" class="right" style="background-color: yellowgreen;">Right</div>
	<div fxFlex="40%" class="center" style="background-color: rgb(132, 0, 255);">Item 3</div>
  </div>
</div>

<br>
<div class="container">
	<div class="parent" fxLayout="row" fxLayout.sm="column">
	  <div fxFlex="30%" style="background-color: yellow;">Left</div>
	  <div fxFlex="30%"  style="background-color: yellowgreen;">Right</div>
	  <div fxFlex="40%"  style="background-color: rgb(132, 0, 255);">Item 3</div>
	</div>
  </div>

<br/>

<div class="container">
  <div class="parent" fxLayout="row" fxLayout.sm="column">
    <div fxFlex="50%" class="left" style="background-color: yellow;">Left</div>
	<div fxFlex="50%" class="right" style="background-color: yellowgreen;">Right</div>
  </div>
</div>
<br>


<div class="container">
	<div fxLayout="column" class="parent">
		<div fxFlex="30%" class="left" style="background-color: yellow;">Left</div>
		<div fxFlex="70%" class="right" style="background-color: yellowgreen;">Right</div>
	  </div>
</div>
<br>
<br>

<hr>

<div class="container">
	<div class="container">
		<div class="parent" fxLayout="row" fxLayout.sm="column">
		  <div fxFlex="50%" class="left" style="background-color: yellow;">Left</div>
		  <div fxFlex="50%" class="right" style="background-color: yellowgreen;">
			<div fxLayout="column" class="parent">
				<div fxFlex="30%" class="left" style="background-color: rgb(255, 115, 0);">Left</div>
				<div fxFlex="70%" class="right" style="background-color: rgb(14, 238, 208);"> derecho</div>
			  </div>
		</div>
		</div>
	  </div>
</div>

<hr>

<div class="container">
	<div class="parent" fxLayout="row" fxLayout.sm="column">
	  <div fxFlex="30%" class="left" style="background-color: yellow;">Left</div>
	  <div fxFlex="30%" class="right" style="background-color: yellowgreen;">
		<div class="border">
			<div class="parent" fxLayout="row" fxLayout.sm="column">
				<div fxFlex="50%" class="left" style="background-color: yellow;">interno 0</div>
				<div fxFlex="50%" class="right" style="background-color: yellowgreen;">
				  <div fxLayout="column" class="parent">
					  <div fxFlex="30%" class="left" style="background-color: rgb(255, 115, 0);">interno 1</div>
					  <div fxFlex="70%" class="right" style="background-color: rgb(14, 238, 208);"> interno 2</div>
					</div>
			  </div>
			  </div>
		</div>
	</div>
	  <div fxFlex="40%" class="center" style="background-color: rgb(132, 0, 255);">Item 3</div>
	</div>
  </div>



<hr> -->

<!-- 
<br>
<div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
  <div class="item item-4">Item 4</div>
  <div class="item item-5">Item 5</div>
</div>

<br />

<div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
  <div class="parent" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex class="left">Left</div>
    <div fxFlex class="right">Right</div>
  </div>
</div>
<br />

<div class="container border">
  <div fxLayout="row" class="parent">
    <div fxFlex="30%" class="left">Left 30%</div>
    <div fxFlex="70%" class="right">Right 70%</div>
  </div>
</div>
 -->
