table {
    width: 100%;
  }

  .customWidthClass{
    font-size: 30px;
   width: auto;
   background-color: rgb(186, 236, 203);
   text-align: left;
}

.customWidthClass2{
   text-align: center;
}

.mat-column-symbol {
    background-color: rgb(212, 186, 236);
    text-align: right;
}