
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron ">
				<h1>Tasks works!</h1>
				<p>
                    This is a template for a simple marketing or informational website. 
				</p>
				<div class="m-1">
					<app-action-button>
						<button class="btn btn-outline-danger" (click)="on0()">success</button>
					</app-action-button>
				</div>
				<div class="m-1">
					<app-action-button>
						<button class="btn btn-outline-danger" (click)="on1()">Error</button>
					</app-action-button>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron ">
				<h1>Notificaciones Test</h1>
				<div>
					<button type="button" class="btn btn-primary m-1" (click)="on0()">success</button>
					<button type="button" class="btn btn-secondary m-1" (click)="on1()">Error</button>
					
				</div>
			</div>
		</div>
	</div>
</div>
